<h1>Off too Often</h1>

<p>this is a site committed to reviewing the lesser seen but still vital works around the city</p>


<ul>
  {{#each model as |show|}}
    {{show-tile show=show}}
  {{/each}}
</ul>
<hr>

{{show-new save2="save3"}}
